*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    position: relative;
    color: black;
    text-decoration: none;
}
body>header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    background: #f7f7f7;
    z-index: 100;
    box-shadow: 0 0.5em 1em #aab2c1;
}
#Logo{
    background-color: #1C438F;
    padding: 0.5em;
}
#logo>a{
    font-size: 0.9em;
    padding: 1em;
    color: white;
}
#Menu{
    margin-top: auto;
    margin-bottom: 1em;
}
header>#Menu>#menu{
    position: relative;
    display: flex;
    list-style: none;
    background: #f7f7f7;
}
#menu>li>a{
    position: relative;
    padding-right: 2em;
    color: rgb(0, 0, 0);
    font-weight: 550;
    text-shadow: 0 0.1em 1px #c0c6d4;
}
#menu>li>a:hover{
    color:#1C438F;
}
body>#LoginBox{
    position:absolute ;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    text-align: center;
    border-radius: 20px;
    background:#f7f7f7;
    box-shadow: 0 0 100px 10px #d1d1d1;
}
input{
    padding: 0 1em 0 1em;
}
button,.login{
    display: block;
    width: 90%;
    height: 3em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
}
.login{
    border: 0.8px solid rgb(180, 180, 180);
}
button{
    border: 1px solid #112656;
    background: #1C438F;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#LoginOther{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
svg{
    display: none;
}
/* 768px 이하일 때 */
@media screen and (max-width: 920px) {
    svg {
        display: block;
        cursor: pointer;
        margin-right: 1em;
    }
    #menu>li>a{
        display: none;
}
}
#SideMenu{
    position:absolute;
    width: 33%;
    height: 100%;
    top:0;
    right: 0;
    z-index: 200;
    background: rgba(255, 255, 255, 0.874);
}
#SideMenu>div{
    position: relative;
}
#SideMenu>div>svg{
    margin-left: auto;
}
#SideMenu>ul{
    list-style: none;
}
#SideMenu>ul>li{
    padding: 1.5em;
    text-align: center;
    font-weight: 900;
}