:root{
    --main-color:#1C438F;
    --shadown: rgba(236, 236, 236, 0.322);
    --backgroundColor:rgb(217, 224, 238);
    --black:rgb(44, 45, 46);
    --white:rgb(252, 252, 252);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 3rem;
}
#container{
    position: relative;
    width: 100%;
    min-width: 1400px;
    margin: auto;
}
/* 전공 칸 */
#Major{
    position: relative;
    width: 1200px;
    margin: auto;
    text-align: center;
}
#Grade{
    position: relative;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;
}
/* 세부칸 */
#MajorContext{
    position: relative;
    width: 70%;
    height: 8rem;
    margin: auto;
}
.GradeMajors{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 8rem;
    margin-bottom: 3rem;
    
}
.GradeMajors *{
    height: 100%;
    border-radius: 5px;
    color: black;
    background-color: rgb(234, 239, 240);
    padding: 1rem;
    
}
.majorName{
    position: relative;
    width: 20%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-right: 1rem;
}
.majorName h4{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.majorInfo{
    width: 100%;
    text-align: start;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    inset: 0;
}
