:root{
    --main-color:#1C438F;
    --shadown: rgba(236, 236, 236, 0.322);
    --backgroundColor:rgb(217, 224, 238);
    --black:rgb(44, 45, 46);
    --white:rgb(252, 252, 252);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
#wrap{
    min-width:1440px;
    margin: 0 auto;
}
/* 메뉴바 */
header{
    position: fixed;
    width: 100%;
    min-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: 0 0.5rem 5px var(--shadown);
    z-index: 200;
}
header a{
    text-decoration: none;
    color: black;
}
#logo{
    width: 20%;
    max-width: 20rem;
    padding: 1.5rem 1.5rem;
    background: var(--main-color);
}
#logo a{
    color: white;
}
#menu{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5rem;
    padding: auto;-bottom: 1.5rem;
}
.menus{
    position: absolute;
    width: 15%;
}
.menus h3{
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}
.menus h3:hover{
    color: var(--main-color);
}
.menus h3:hover~ div{
    display: block;
    color: var(--main-color);
}
.menus div a:hover~ div a{
    display: block;
}
.menus div{
    text-align: center;
    font-weight: 900;
    display: none;
    background: var(--white);
}
.menus div a{
    position: relative;
    display: block;
    padding: 2rem 1rem;
    width: 100%;
    font-size: 1.2rem;
}
.menus div a:hover{
    display: block;
    color: var(--white);
    background:var(--main-color);
}
#login{
    position: fixed;
    top: 1rem;
    right: 3rem;
    font-size: 0.8rem;
}
#exit,#menubar{
    font-size: 2rem;
    display: none;
}
@media screen and (max-width:1200px) {
    #menubar{
        position: fixed;
        display: block;
        top: 2rem;
        right: 2rem;
    }
    #exit{
        position: relative;
        top: 2rem;
        right: 2rem;
    }
    #menu{
        position: absolute;
        width: 80%;
        height: 100vh;
        padding: 5rem;
        right: 0;
        display: none;
        background: var(--white);
        box-shadow: -1rem 0  1rem var(--shadown);
        overflow-y: auto;
        z-index: 200;
    }
    .menus{
        position: relative;
        width: 100%;
        height: 20%;
        display: flex;
    }
}